/*backgrounds and basic page formatting*/

body
{
    background-color: #13162C;
}

.container
{
    text-align: center;
    width: 80%;
    margin: auto;
    color: #13162C;
    background-color: #8D9799;

    padding: 0px;

    box-shadow:
        inset 10px 0px 10px -7px rgba(0,0,0,0.5),
        inset -10px 0px 10px -7px rgba(0,0,0,0.5),
        inset 0px 10px 10px -7px rgba(0,0,0,0.5),
        inset 0px -10px 10px -7px rgba(0,0,0,0.5);

    border-radius: 6px;
}

.content
{
    font-size: large;
    width: 100%;
}

.content h4 a
{
    color: #716475;
}

h3
{
    font-weight: bold;
}

a:hover, a:focus
{
    text-decoration: none;
}

.log
{
    font-weight: bold;
    color: #13162C;
}

.log .input
{
    display: inline-block;
}

label
{
    display: inline-block;
    text-align: right;
    width: 145px;
    /*width: 9em;*/
}

.text
{
    padding-top: 2.5%;
    padding-bottom: 10%;
}

.input
{
    width: 30%;
    font-size: large;
}

.manage
{
    padding-top: 1%;
}

/*edit and add page title*/
.title
{
    font-size: large;
    width: 30%;
   /* height: 25px;*/
    margin: 0 auto 5px auto;
}

/*All form buttons*/
input.btn.btn-default
{
    border: none;
    text-decoration: none;
    font-size: Large;
    background-color: #13162C;
    color: white;
    padding: 10px;
    /*margin-bottom: 10px;*/
    margin-top: 5px;
}

.btn-default:hover
{
    background-color: #13162C;
}


.submit:hover
{
    color: #71647B;
}

.submitNum
{
    float: left;
    font-size: large;
}

a
{
    text-decoration: none;
}

.manage li
{
    display: inline;
}

/*dark blue buttons */
.button
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #13162C;
    width: 200px;
/*  height: 25px;*/
    padding: 10px;
    text-align: center;
    color: white;
    border-style: none;
}

input.btn.btn-default:hover
{
    color: #716475;

    box-shadow:
        inset 10px 0px 10px -7px rgba(0,0,0,0.5),
        inset -10px 0px 10px -7px rgba(0,0,0,0.5),
        inset 0px 10px 10px -7px rgba(0,0,0,0.5),
        inset 0px -10px 10px -7px rgba(0,0,0,0.5);
}

table
{
    margin-left: 5%;
    width: 75%;
    color: #13162C;
}

tr:nth-child(even)
{
    background-color: #5e686a;
}

textarea
{
    width: 60%;
    white-space: pre-wrap;
}

.mce-tinymce.mce-container.mce-panel
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.log textarea
{
    height: 90%;
}

td a:link
{
    color: white;
}

td a:visited{
    color: #635667;
}

td a:hover
 {
     text-shadow: 2px 2px 1px #A898B2;
    /*text-shadow: 1px 1px 1px #FFFFFF;*/
 }

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th
{
    background-color: #8D9799;
}

.table
{
    width: 90%;
}

th{
    text-align: center;
}











