.navbarPage{

    background-color: #716475;
    height: 50px;

    box-shadow:
    inset 10px 0px 10px -7px rgba(0,0,0,0.5),
    inset -10px 0px 10px -7px rgba(0,0,0,0.5);
}

.navLinks
{
    float: right;
    list-style-type: none;
}

.navLinks li
{
    display: inline;
}

.navbutton{
    margin-right: 5px;
    margin-bottom: auto;
    margin-top: auto;
    text-decoration: none;
    width: 115px;
    height: 25px;
    background-color: #635667;
    padding: 10px;
    text-align: center;
    color: white;
}

.navbutton:hover
{
    color: #A898B2;

    box-shadow:
        inset 10px 0px 10px -7px rgba(0,0,0,0.125),
        inset -10px 0px 10px -7px rgba(0,0,0,0.125),
        inset 0px 10px 10px -7px rgba(0,0,0,0.125),
        inset 0px -10px 10px -7px rgba(0,0,0,0.125);
}