.input
{
    width: 70%;
}

.input:first-child
{
    width: 80%;
}

.page
{
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size: medium;
    white-space: pre-wrap;
}

h3
{
    text-align: center;
    font-size: x-large;
}